// Shared Components
// -----------------

// Shared classes that aren't part of a more specific component

// Contents
// --------------------------
// - Imports
// - Utilities
// - Layout
// - Type
// - Images
// - Article Lists
// - Navigation Lists
// - Grids
// - Buttons/Links
// - Tables
// - Forms

// Layout
// --------------------------------------------------------
section {
  &.neutral20 {
    background-color: $neutral20;
  }
}

.container {
  @include containerPrototype;
  // Section can be abstracted to more specific section class (or body class) if necessary
  section > & {
    padding-top: 85px;
    padding-bottom: 100px;
  }
}

.footer-browse {
  @include containerPrototype;
}


// Type
// --------------------------------------------------------
.section-heading {
  @include heading-primary;
  color: $neutral80;
  &.manicon:before {
    display: inline-block;
    color: $neutral40;
    vertical-align: middle;
  }
  &.manicon-new-round:before {
    font-size: 63px;
    color: $accentPrimary;
    margin-right: 13px;
  }
  &.manicon-books-on-shelf:before {
    margin-right: 24px;
  }
}